.Header {
    background-color: #6aa84f;
    width: auto;
    height: 150px;
    border: solid 2px black;
}
.Navigation {
    background-color: #6fa8dc;
    width: 300px;
    height: 450px;
    border: solid 2px black;
    margin-top: 20px;
}
.Main {
    background-color: #e06666;
    border: solid 2px black;
    height: 550px;
    width: 1150px;
    margin-top: 20px;
}
.SubContents {
    background-color: #ffd966;
    border: solid 2px black;
    height: 400px;
    width: 300px;

}
.Advertisment {
    background-color: #b4a7d6;
    border: solid 2px black;
    width: 1050px;
    height: 80px;
    margin: 0px 50px;
}